.bio {
  max-width: 500px;
  margin-bottom: 50px;
  word-spacing: 7px;
    a {
    color: $color__black;
    text-decoration: none;
    &:hover {
      background-color: $color__green;
    }
  }  
}

.bio__header {
  margin-bottom: 20px;
  font-weight: 700;
  word-spacing: normal;  
}
